#podium-wrapper{

  display: flex;
  flex-direction: row;
  justify-content: center;

  *{

    width: 146px;

  }

}

h1{

  font-family: 'Marker', sans-serif;
  text-align: center;
  font-size: 3em;

}

h3{

  text-align: center;

}
