<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <app-dark-mode-toggle></app-dark-mode-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="content">
    <div id="name-wrapper" (click)="presentNameSelect($event)">
      <h1>{{username ? username: 'loading...'}}</h1>
      <ion-icon id="edit-icon" name="pencil-outline"></ion-icon>
    </div>
    <div (click)="presentProfilePictures()" id="avatar-holder">
      <img id="avatar" [src]="selectedImage" alt="you">
    </div>
    <p>Click the avatar to set a profile picture and click on your name to set your name</p>
  </div>

</ion-content>
