#host-button{

  width: 100%;
  padding: 0 8px;

}

#title{

  height: 100px;
  font-size: 40px;
  font-family: Marker, serif;
  text-align: center;
  line-height: 100px;

}

#options-card{

  opacity: 0.8;

}

.form-grid{

  width: 100%;

}
