<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <app-dark-mode-toggle></app-dark-mode-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img id="app-background" src="assets/images/background.png" alt="background">
  <div id="content-wrapper">

    <img *ngIf="!loadingGame" id="page-logo"
         [src]="(darkModeService.darkMode$ | async) ? 'assets/images/RoomCode dark.svg' : 'assets/images/RoomCode.svg'"
         alt="enter a room code">

    <ion-grid *ngIf="!loadingGame">
      <ion-row>
        <ion-col>
          <ion-item id="room-code-input"  lines="none">
            <ion-input #roomCode type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row id="button-row">
        <ion-col size-lg="5" offset-lg="3.5" size-xs="6" offset-xs="3" class="ion-align-items-center">
          <ion-button id="join-game" color="success" (click)="joinGame(roomCode.value.toString())">Join</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <app-load *ngIf="loadingGame"></app-load>
</ion-content>
