<ion-card-content>
  <ion-card-header>
    <ion-card-title class="ion-text-center">{{gameMessageDetails.heading}}</ion-card-title>
  </ion-card-header>
  <ion-text class="ion-text-center">
    <p>
      {{gameMessageDetails.message}}
    </p>
  </ion-text>
  <ng-container *ngIf="gameMessageDetails.isJudge">
    <ion-item>
      <ion-label position="floating">
        What do they draw?
      </ion-label>
      <ion-textarea [(ngModel)]="thingToDraw">
      </ion-textarea>
    </ion-item>
    <ion-button color="primary" (click)="generateRandomPrompt()">
      random prompt
    </ion-button>
    <ion-button color="primary" (click)="dismiss()">
      Start Match
    </ion-button>
  </ng-container>
</ion-card-content>
