.avatar{

  margin-right: 20px;
  height: 80px;
  width: 80px;

}

.list-item{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 20%;

  ion-button{

    position: relative;
    top: 20px;
    height: 30px;

  }

}

#list-wrapper{

  padding: 20px;

}
