.score-text, .name-text{

  z-index: 10;

}


.name-text{

  font: 26px Varela;
  fill: black;
  position: relative;
  top: -85px;
  text-align: center;

}

.score-text{

  position: relative;
  top: -90px;
  margin-bottom: -40px;
  font-size: 1.2em;
  color: black;
  font-family: 'Varela', sans-serif;
  text-align: center;

}

#podium-outline{

  filter: drop-shadow(1px 10px 10px black);

}

